.to-do-list{
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
margin: 50px;
border: 20px double #3F3B6C;
background-color: #A3C7D6;
}

h1{
  color: #624F82;
  display: flex;
  justify-content: center;
  font-size: 50px
}

input {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #624F82;
  opacity: 80%;
  padding: 5px;
}

ul{
color: #B784B7;
padding: 20px;
list-style: square;
list-style-position: inside;
}

ul li {
  background: whitesmoke;
  opacity: 90%;
  margin: 8px;
  padding: 4px; 
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: start;

}

button{
  color: #624F82;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  margin: 5px;
}

#check-box{
  margin: 10px;
  height: 18px;
  width: 20px;
}
